extends layout

block content
	main.index
		header.head.d-flex
			.container.text-center.my-auto
				h1.mb-1|Tasks App Example
				h3
					em|Manage your tasks
				a.btn.btn-primary.mt-3(href="/auth/signup")
					|Get started
